*{margin: 0%;
padding: 0px;
box-sizing: border-box;}
html{height: 100%;
    font-family: "Inter", sans-serif;
   
    background-image:url(design/11ebdcc531a218b1c9c5fc3711d6cd85.jpg) ;
    background-repeat: no-repeat;
    background-size:100% 100% ;

}
body{background-color: rgb(17, 16, 16);
max-width:400px ;
justify-self: center;
margin-top:50px ;
    border-radius: 7px;
}


#besher{
    border-radius: 50%;
    width:70px;
    height: 70px;
}
button{
color: white;
border: none;
background-color: rgb(70, 68, 68);

padding: 15px;
margin: 10px;
border-radius: 5px;
width:250px ;
font-weight: 600;
}
button:hover{
cursor: pointer;
background-color:hsl(75, 94%, 57%) ;
color: black;


}
.button-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.flex{display: flex;
    flex-direction: column;
align-items: center;
padding: 40px;
padding-bottom: 0%;}
h3{margin-bottom: 20px;
color:hsl(75, 94%, 57%)}
h2{margin-top: 10px;
margin-bottom: 10px;}
h2,p{color:white}
@media (min-width:576px)
{
    html{background-image:url(design/11ebdcc531a218b1c9c5fc3711d6cd85.jpg) ;
        background-repeat: no-repeat;
        background-size:100% 100% ;
    }
    button{
        width:300px ;
    }
    body{
    max-width:500px ;
    justify-self: center;
    margin-top:75px ;
    border-radius: 7px;
}



}